.header{
    background-color: cornflowerblue;
    text-align: center;
}

.about-me{
    font-size: 25px;
    font-weight: bold;
    color:rgb(187, 187, 187);
}

.title{
    font-weight: bold;
    text-align: center;
}

h1{
    color: azure;
    
}

body{
    font-family: Georgia;
    background-image:url(https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png);
    font-size: 30px;
    
}
p , .title{
    color: gray;
    font-size:25px;
}

img{
    height:600px;

    
}

footer{
    text-align: center;
   
}

h2{
    text-align: center;
}
.aligncenter {
    text-align: center;
}